# Ignore everything
*

# But search in our whitelisted directories
!.config/
!.bashrc.d/

# Keep bash profile configuration
!.bashrc.d/*

# Keep .gitignore
!.gitignore

# Keep neovim configuration
!.config/nvim/
!.config/nvim/**

# Keep wezterm configuration
!.config/wezterm/
!.config/wezterm/**


