[user]
	email = gary.tierney@fastmail.com
	name = Gary Tierney
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
[diff]
	external = difft
[core]
	editor = nvim
[rebase]
	autoStash = true
[fetch]
	prune = true
[pull]
	rebase = preserve
[rerere]
	enabled = true

